<!DOCTYPE css>
    @font-face {
      src: url(fonts/FranklinGothic.ttf);
      font-family: frag;
      }
    .image {
      float: right;
      padding: 0 10px 0 0;
    }
    .textbox {
      border-style: solid;
      border-color: #7FFFD4;
      border-width: 20px;
      }
    .outerbox {
      border-style: solid;
      border-color: white;
      border-width: 30px;
      }
    .cool-text {
      font-size: 38px;
      font-family: sans-serif;
      text-align: center;
      }
    .menu {
      padding: 10px;
      text-align: left;
      }
    .oly {
      font-size: 80px;
      font-family: sans-serif;
      text-align: center;
      color: #FFA436;
      }
    .elb {
      font-size: 60px;
      font-family: sans-serif;
      text-align: center;
      }
    .efb {
      font-size: 80px;
      font-family: sans-serif;
      text-align: center;
      color: #EBE618;
      }
    .txxt {
      text-align: justify
      }
    .fb {
      font-size: 80px;
      font-family: sans-serif;
      text-align: center;
      color: #1947FA;
      }
    .eli {
      font-size: 80px;
      font-family: sans-serif;
      text-align: center;
      color: #62DC0C;
      }
    .menu-text {
      font-size: 20px;
      font-weight: bold;
      border-color: #FF8C00;
      border-width: 5px;
      border-style: solid;
      font-family: frag;
      padding: 10px 20px;
      background-color: pink;
      }

